:root {
    --bs-fonts: 'Helvetica Neue';
    --bs-blue: #49b26e;
    --bs-greyultra: #f9f9f9;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("../fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    background-color :black;
}
body {
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
}
h5{
    margin:0;
    padding:0;
}
.height100{
    height:100px;
}
.height10 {
    height: 30px;
}
.height50 {
    height: 40px;
}
.mt-1 {
    margin-top: 10%;
}
.right{
    text-align:right;
}
.mt-2 {
    padding-top: 30%;
}
.mt-6{
    margin-top:35px;
}

#fixedbutton {
    position: fixed;
    bottom: 20px;
    right:20px;
    z-index: 3;
    padding: 5px;
    animation: radial-pulse 1s infinite;
    border-radius: 100%;
}
/*создаем анимацию пульсации*/
@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px #17acc617;
    }

    100% {
        box-shadow: 0 0 0 20px rgb(198 245 198 / 0%);
    }
}

.center{
    text-align:center;
}

.font600 {
    font-weight: 600;
    font-family: var(--bs-fonts);
}
.font {
    font-family: var(--bs-fonts);
}
.black{
    color:black;

}
nav {
    position: fixed;
    font-family: var(--bs-fonts);
    font-weight: 600;
    color: white;
    padding-top: 40px;
    width: 100%;
    z-index: 9999;
}
.logo {
    font-weight: 600;
  
}

.flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
    .flex a {
        color: #949494;
        position: relative;
        cursor: pointer;
        line-height: 2; /*задаём высоту строки*/
       
        text-decoration: none; /*убираем подчёркивание*/
    }


        .flex a:after {
            display: block;
            position: absolute;
            left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
            width: 0; /*задаём длинну линии до наведения курсора*/
            height: 2px; /*задаём ширину линии*/
            background-color: var(--bs-blue); /*задаём цвет линии*/
            content: "";
            transition: width 0.3s ease-out; /*задаём время анимации*/
        }
        .flex a:hover {
            color: white;
           
        }
        .flex a:hover:after,
        .flex a:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }

header {
     background-image: url("https://i.yapx.ru/PEKDi.gif");
    background-size: 100%;
    height: 100%;
    font-family: 'Helvetica Neue';
    font-weight: 600;
   /* background-attachment: fixed;
    animation-duration: 90s, 20s, 30s,30s,1s;
    animation-name: slidein;
   
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;*/
}

/*@keyframes slidein {
    0% {
        background-image: url(https://ajax.systems/wp-content/uploads/2019/03/01_00.jpg);
      
    }

    20% {
        background-image: url(https://pipl.systems/wp-content/uploads/2021/01/multitransmitter_light2_en.gif);
    }

    70% {
        background-image: url(https://yablyk.com/wp-content/uploads/2020/04/ajax-scenaries-6.gif);
       
    }

    90% {
        background-image: url(https://yablyk.com/wp-content/uploads/2020/04/ajax-hub.gif);
    }
    100% {
        background-image: url(https://ajax.systems/wp-content/uploads/2019/03/01_00.jpg);
       
    }

  
}*/
header button {
    font-family: 'Helvetica Neue';
    font-weight: 600;
}
    header p {
        font-family: 'Helvetica Neue';
        font-weight: 600;
    }
    header h2 {
        font-family: 'Helvetica Neue';
        font-weight: 600;
    }
.btn {
    background: var(--bs-blue ) ;
    width: 200px;
    padding: 6px;
    border-radius: 20px;
    border: none;
    color: white;
    transition: 1s;
}
.btn:hover,
.btn_menu:hover{
    background:white;
    color:black;
}

.btn_menu {
    background: #a6a6a65c;
    font-size: 12px;
    width: 150px;
    border-radius: 20px;
    border: none;
    color: var(--bs-blue );
    transition: 1s;
    height: 25px;
}

#button1 {
    transition: 1s;
}
.block_header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 450px;
   color:black;
}
.block {
    border: 7px solid #ffffff47;
    z-index: 1;
    width: 450px;
    height: 450px;
    background: #ffffff6b;
}
.tel {
    writing-mode: vertical-rl;
    margin-top:35%;
    float: right;
    color: black;
}

.active {
    border-bottom: 3px solid var(--bs-blue);
}
.menu span {
    font-size: 13px;
    color: grey;
    font-family: "Roboto Regular",sans-serif;
    margin-left: 10px;
}
.stiky {
    position: sticky;
    top: 0;
    background-color: var(--bs-greyultra);
    z-index:4;
}
.grey {
    background-color: var(--bs-greyultra);
}
.stiky .col {
    padding: 15px 0px;
    border: 1px solid var(--bs-greyultra);
}
    .stiky .col:hover {
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
    }
    #none{
        display:none;
    }

    /*work*/

.work  {
    font-family: var(--bs-fonts);
}
.work_block {
    height: 500px;
    border: 1px solid var(--bs-greyultra);
    border-radius:20px;
    transition:1s;
}

    .work_block:hover {
        height: 450px;
        border: 1px solid var(--bs-greyultra);
        border-radius: 20px;
        background: #f9f9f9;
    }
.work .col{
    margin-left:20px;

}
.black {
    background-color: var(--bs-blue );
  padding-left:10px;
    color: white;
    width: 200px;
}


.text,
input[type="checkbox"] {
    display: none;
    transition:2s;
}

    input[type="checkbox"]:checked ~ .text {
        display: block;
        transition:1s;
    }

.katalog_black {
    background-color: black;
    color:white;
    
}
a.rollover {
    margin-top:50px;
    background: url(https://im0-tub-ru.yandex.net/i?id=51692ff26739869afe27d6664c32426a-l&ref=rim&n=13&w=720&h=405); /* Путь к файлу с исходным рисунком  */
    display: block;
    height: 300px;
    width: 100%;
    background-size: 100%;
    transition:1s;
}

    a.rollover:hover {
        background: url(https://www.bezpeka-shop.com/upload/articles/ajax-os-malevich/ajax-exchange.gif); /* Путь к файлу с заменяемым рисунком  */
        width: 100%;
        background-size: 100%;
        height: 300px;
    }

a.rolloverthree {
    margin-top: 50px;
    background: url(../img/navigation.gif); /* Путь к файлу с исходным рисунком  */
    display: block;
    height: 300px;
    width: 100%;
    background-size: 100%;
    transition: 1s;
}

    a.rolloverthree:hover {
        background: url(../img/navigation.gif); /* Путь к файлу с заменяемым рисунком  */
        width: 100%;
        background-size: 100%;
        height: 300px;
    }


a.rollovertwo {
   
    background: url(https://support.ajax.systems/wp-content/uploads/2019/06/MC_W-800x420.jpg); /* Путь к файлу с исходным рисунком  */
    display: block;
    height: 300px;
    width: 98%;
    background-size: 100%;
    transition: 1s;
    border-radius: 0px 10px 10px 0;
}

    a.rollovertwo:hover {
        background: url(../img/camera.gif); /* Путь к файлу с заменяемым рисунком  */
        width: 98%;
        background-size: 100%;
        height: 300px;
    }

.block_katalog {
    height:100%;
    border: 1px solid #f9f9f936;
    border-radius: 20px;
    background: #f9f9f936;
    margin-right:20px;
    padding:20px;
  
}
    .block_katalog_active {
        background: #ffffffc7;
        color:black;
        font-weight:600;
    }
.checked {
    background-color: #f9f9f936;
    border:none;
    color:white;
    border-radius:10px;
}
.block_retronslator{
    height:100%;
    background:white;
    margin-right:30px;
    border-radius:20px;
    padding: 10px 40px;

}

.border {
    padding: 10px;
    border: 1px solid black;
    background-color: black;
}

.retronslator_btn {
    border: none;
    background-color: #f9f9f9;
    border-radius:20px;
    font-size:13px;
}
.ripple {
    position: relative; /*Position relative is required*/

    display: block;
    outline: none;
    
    cursor: pointer;
    overflow: hidden;

}

    .ripple:hover:before {
        animation: ripple 1s infinite;
      animation-duration:2s;
    }

    .ripple:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        transform: scale(0);
        animation-timing-function: linear;
        animation-direction: alternate-reverse;
          animation: rotate 3s linear infinite;
    }

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}
.home {
    background: #f9f9f9;
}
.homecol p {
    font-size: 13px;
}
.homecol {
    background: #dbdbdb;
    margin-right: 20px;
    border-radius: 10px;
    padding:20px 10px;
    transition:1s;
}
    .homecol:hover {
        margin-top: -6px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
.stoimost {
    border: none;
    background: white;
    padding: 0 20px;
    border-radius: 20px;
    color: var(--bs-blue );
    font-size: 15px;
    transition:1s;
}
.stoimost:hover{   
    background: black;
    color: var(--bs-blue ); 
}
.whiter .row {
    background-color: #f9f9f9;
    border-radius:20px;
}
.whiter span{
    color:grey;
    font-size:15px;
    margin-left:20px;
}

.backgroundgrey {
    background-color: black;
    padding:50px;
}
.av {
    margin-right: 30px;
    margin-bottom: 30px;
    padding-top:30px;
    transition:0.5s;
    
}
    .av:hover {
      
        box-shadow: 0 0 30px rgb(255 255 255 / 50%);
        border-radius:20px;
    }
    footer{
        background:black;
        color:grey;
    }
    #menu a{
        text-decoration:none;
    }
#menu h4 {
    color: #d4d4d4;
}
#menu span {
    color: var(--bs-blue );
}
        footer h4 {
            color: #d4d4d4;
        }
        footer span {
            color: var(--bs-blue );
        }
        footer p{
            font-size:12px;
        }
.white {
    color: #d4d4d4;
}
input {
    margin-bottom: 20px;
    background: black;
    border-bottom: 2px solid var(--bs-blue );
    border-top:0;
    border-left:0;
    border-right:0;
    padding:10px;
    color:white;
}
.w-300{
    width:300px;
}
.diableactive{
    display:none;
}
.text,
input[type="checkbox"] {
    display: none;
}

    input[type="checkbox"]:checked ~ .text {
        display: block;
       
    }

/* Стилизация псевдокнопки */
.text{
  color:white;
  background:white;
  color:black;
  position:fixed;
  width:100%;
  z-index:999;
 
}
.text a{
    text-decoration:none;
    color:black;
   
}

  .preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background: #fff;
      z-index: 1001;
    }

    .preloader__image {
      position: relative;
      top: 50%;
      left: 50%;
      width: 64px;
      height: 64px;
      margin-top: -32px;
      margin-left: -32px;
      background: url('https://cdnb.artstation.com/p/assets/images/images/011/722/225/original/bartosz-aziewicz-loader-aziewicz-bartosz-3-gp.gif?1531073801') no-repeat 50% 50%;
      /*расположение (url) изображения gif и др. параметры*/
    }

    .loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
    }

    .loaded .preloader {
      display: none;
    }

@media (max-width: 700px) {
    .diable {
        display: none;
    }
   
    header {
        height: 600px;
    }
    #product{
        display:none;
    }
    
}


@media (max-width: 790px) {
    .diable {
        display: none;
    }
    .diableactive {
        display: inline-block;
        
    }
    .menudiable{
        background:white;
        position:fixed;
        width:100%;
        z-index:99999;

        padding:10px;
        
    }

   
}
@media (max-width: 600px) {
  
    .w-300 {
        width: 140px;
    }
}
@media (max-width: 500px) {

    .block {
        border: 7px solid #ffffff47;
        z-index: 1;
        width: 350px;
        height: 350px;
        margin:0 auto;
    }


@media (max-width: 400px) {
    .diable2 {
        display: none;
    }
    .center{
        margin:0 auto;
        padding-left:20px;
    }
    .block_katalog{
        margin-bottom:20px;
    }
    .block_retronslator {
        margin-bottom: 20px;
    }
    .homecol {
        margin-bottom: 20px;
    }
    a.rollover {
        margin-top: 50px;
        background: url(https://im0-tub-ru.yandex.net/i?id=51692ff26739869afe27d6664c32426a-l&ref=rim&n=13&w=720&h=405); /* Путь к файлу с исходным рисунком  */
        display: block;
        height: 150px;
        width: 250px;
        background-size: 100%;
        transition: 1s;
        margin: 0 auto;
    }

        a.rollover:hover {
            background: url(https://www.bezpeka-shop.com/upload/articles/ajax-os-malevich/ajax-exchange.gif); /* Путь к файлу с заменяемым рисунком  */
            width: 100%;
            background-size: 100%;
            height: 300px;
        }
    header {
        height: 100%;
        background-size: 300%;
    }

    #product {
        display: none;
    }
    .w-300 {
        width:140px;
    }
    .block {
        border: 7px solid #ffffff47;
        z-index: 1;
        width: 250px;
        height: 350px;
        margin: 0 auto;
    }
    .block_header{
        width:100%;
    }
    .backgroundgrey {
        background-color: black;
        padding: 0px;
    }
    .block_katalog {
       
        padding:0;
    }
    .block_retronslator {
        padding: 10px 30px;
    }
    .work_block{
margin-bottom: 20px;
}
    .home{
         padding-left: 10px;

    }
